<section class='future'>
    <h2>The Future</h2>
    <div class='line'></div>
    <div class='brief brief__female'>
        <h2>Karens</h2>
        <div class='text'>
            {{#each copy.futureFKarens}}
            <p>{{{value}}}</p>
            {{/each}}
            {{#each copy.futureFDetails}}
            <div class='row'>
                <p class='title'>The Karen in <span class='year-change'>10</span> years</p>
                <p class='name' data-condition='top'>{{{replaceName}}}</p>
                <p class='corr' data-condition='top'>Correlation: {{{replaceCorr}}}</p>
            </div>
            <div class='row'>
                <p class='title'>The future anti-Karen</p>
                <p class='name' data-condition='bottom'>{{{antiName}}}</p>
                <p class='corr' data-condition='bottom'>Correlation: {{{antiCorr}}}</p>
            </div>
            {{/each}}
        </div>
    </div>
    <div class='chart-wrapper'>
        <div class='charts charts__female is-clipped' data-gender='F' data-time='future'></div>
        <div class='btn-wrapper' data-gender='F' data-time='future'>
            <button class='show-more is-visible'>
                Show all
            </button>
        </div>
    </div>

    <div class='brief brief__male'>
        <div class='text'>
            {{#each copy.futureMKarens}}
            <p>{{{value}}}</p>
            {{/each}}
            {{#each copy.futureMDetails}}
            <div class='row' data-condition='top'>
                <p class='title'>The Karen in <span class='year-change'>10</span> years</p>
                <p class='name' data-condition='top'>{{{replaceName}}}</p>
                <p class='corr' data-condition='top'>Correlation: {{{replaceCorr}}}</p>
            </div>
            <div class='row' data-condition='bottom'>
                <p class='title'>The future anti-Karen</p>
                <p class='name' data-condition='bottom'>{{{antiName}}}</p>
                <p class='corr' data-condition='bottom'>Correlation: {{{antiCorr}}}</p>
            </div>
            {{/each}}
        </div>
    </div>
    <div class='chart-wrapper'>
        <div class='charts charts__male' data-gender='M' data-time='future'></div>
        <div class='btn-wrapper' data-gender='M' data-time='future'>
            <button class='show-more'>
                Show all
            </button>
        </div>
    </div>

    <div class='line'></div>
</section>