<section class='intro'>
	<div class='intro__image'>
		<div class='layer3'>
			<img src='assets/images/opener-collage.png'
				alt='wagging finger, live laugh love sign, large purse, white wine glass'></img>
			<div class='bg'></div>
			<div class='bg'></div>
		</div>
		<div class='layer2'>
			<img src='assets/images/opener-nametag.png' alt='hello name name is tag'></img>
			<div class='bg'></div>
			<div class='bg'></div>
		</div>
		<div class='layer1'>
			<img src='assets/images/opener-face.png' alt='kate plus 8 hair cut silhouette'></img>
			<div class='bg'></div>
			<div class='bg'></div>
			<div class='bg'></div>
		</div>
	</div>
	<h1 class='intro__hed'>{{{meta.title}}}</h1>
	<h2 class='intro__subhed'>{{{meta.subhed}}}</h2>
	<p class='intro__byline'>By
		<a href='{{meta.author1.url}}' target='_blank'>
			<strong>{{meta.author1.name}}</strong>
		</a>,
		<a href='{{meta.author2.url}}' target='_blank'>
			<strong>{{meta.author2.name}}</strong>
		</a>, &amp;
		<a href='{{meta.author3.url}}' target='_blank'>
			<strong>{{meta.author3.name}}</strong>
		</a>
	</p>
	{{#each copy.intro}}
	<p class='prose'>{{{value}}}</p>
	{{/each}}
	<div class='chart-wrapper'>
		<div class='charts charts__karen' data-gender='K' data-time='K'></div>
	</div>
	{{#each copy.intro2}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</section>