<section class='intro'>
	<div class='intro__image'>
		<img class='layer3' src='/assets/images/layer3.png'></img>
		<img class='layer2' src='/assets/images/layer2.png'></img>
		<img class='layer1' src='/assets/images/layer1.png'></img>
	</div>
	<h1 class='intro__hed'>{{meta.title}}</h1>
	<p class='intro__byline'>By
		<a href='{{meta.author1.url}}' target='_blank'>
			<strong>{{meta.author1.name}}</strong>
		</a>,
		<a href='{{meta.author2.url}}' target='_blank'>
			<strong>{{meta.author2.name}}</strong>
		</a>, &amp;
		<a href='{{meta.author3.url}}' target='_blank'>
			<strong>{{meta.author3.name}}</strong>
		</a>
	</p>
	{{#each copy.intro}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</section>