<section class='methods' id='data-link'>
	<h3>Authors' note</h3>
	{{#each copy.acknowledgements}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}

	<h5>Articles</h5>
	<ul>
	{{#each copy.resourcesArticles}}
		<li>{{{value}}}</li>
	{{/each}}
	</ul>

	<h5>Books</h5>
	<ul>
	{{#each copy.resourcesBooks}}
		<li>{{{value}}}</li>
	{{/each}}
	</ul>

	<h5>Film &amp; Audio</h5>
	<ul>
	{{#each copy.resourcesFilm}}
		<li>{{{value}}}</li>
	{{/each}}
	</ul>

	<h5>Slides &amp; Threads</h5>
	<ul>
	{{#each copy.resourcesSocial}}
		<li>{{{value}}}</li>
	{{/each}}
	</ul>

	<h5>Educational Guides</h5>
	<ul>
	{{#each copy.resourcesGuides}}
		<li>{{{value}}}</li>
	{{/each}}
	</ul>

    <h3>Methodology</h3>
	{{#each copy.methods}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</section>